doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    title キャンセルAPIのテスト
  body
    p API1
    p ステータス
    .status#status-1
    button#button-request-1 request
    button#button-cancel-all-1 cancel all in API1
    hr
    p API2
    p ステータス
    .status#status-2
    button#button-request-2 request
    button#button-cancel-all-2 cancel all in API2
    hr
    button#button-cancel-all cancel all API
